<!DOCTYPE html>
<html ng-app="adminAngular">
<head>
    <title><%= title %></title>
    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css.map">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrapValidator/src/css/bootstrapValidator.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="bower_components/jquery/jquery-3.0.0.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/bootstrapValidator/src/js/bootstrapValidator.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors-master/src/showErrors.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors-master/src/showErrors.min.js"></script>
    <script src="bower_components/socket.io/node_modules/socket.io-client/socket.io.js"></script>
    <script src="javascripts/adminAngular.js"></script>
    <script src="javascripts/navegacion.js"></script>
    <script src="javascripts/funciones.js"></script>
    <script src="javascripts/admin.js"></script>
    <script src="javascripts/validacionFormulario.js"></script>
</head>
<body ng-controller="">
	<h1>Dashboard Adm. Conexiones.</h1>
  <div class="cuerpo">
    <div id="chat" class="chatAdmin">
        <div id="usuarios" class="chatUserPanel">
        </div>

        <div id="conversaciones" class="chatConvPanel">
          <div id="mensajesEscritos" class="chatDisplayMsgPanel">

          </div>

          <div id="escribirMensajes" class="chatWriteMsgPanel">
            <input id="msgAdmin" type="text"></input>
            <input id="btnEnviaMsgAdmin" type="button" value="Enviar" onclick="dibujarMensajeRespuesta()"></input>
          </div>
        </div>
    </div>
  </div>
</body>
</html>
