<!DOCTYPE html>
<html ng-app="indexAngular">
<head>
    <title><%= title %></title>
    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css.map">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrapValidator/src/css/bootstrapValidator.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="bower_components/jquery/jquery-3.0.0.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/bootstrapValidator/src/js/bootstrapValidator.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors-master/src/showErrors.js"></script>
    <script src="bower_components/angular-bootstrap-show-errors-master/src/showErrors.min.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/socket.io/node_modules/socket.io-client/socket.io.js"></script>

    <!-- Logica JavaScript MVC Angular -->
    <script src="javascripts/indexAngular.js"></script>

    <!-- Logica Javascript Tradicional-->
    <script src="javascripts/funciones.js"></script>
</head>

<body ng-controller="InicioCtrl">
    <button type="button" id="btnOnOf" class="btn btn-light"  ng-click="OnOff()"><i class="fas fa-power-off"></i>
    </button>

    <canvas id="myChart" width="100" height="100">
    </canvas>
</form>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Blue"],
        datasets: [{ label: '# Grados Celsius', data: [17], backgroundColor:['rgba(54, 162, 235, 0.2)'], borderColor:['rgba(54, 162, 235, 1)'], borderWidth: 1}]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</div>



</body>
</html>
