
/*Fuentes descargadas*/
@font-face { font-family: "webopp"; src: url('weblysleekuil.ttf'); }

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

/*Media queryes Head*/
/* Large desktop */
@media (min-width: 980px)
{
  .header     .lgdesktoph{ display: block; }
  .header     .dfdesktoph{ display: block; }
  .header     .tebleth{ display: none; }
  .header     .movilh{ display: none; }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
{
  .header     .lgdesktoph{ display: block; }
  .header     .dfdesktoph{ display: block; }
  .header     .tebleth{ display: none; }
  .header     .movilh{ display: none; }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px)
{
  .header     .lgdesktoph{ display: none;}
  .header     .dfdesktoph{ display: none;}
  .header     .tebleth{ display: block; }
  .header     .movilh{ display: none; }
}

/* Landscape phones and down */
@media (max-width: 480px)
{
  .header     .lgdesktoph{ display: none; }
  .header     .dfdesktoph{ display: none; }
  .header     .tebleth{ display: none; }
  .header     .movilh{ display: block; }
}
/*Fin Media queryes Head*/

/* Estilo de la cabecera del tamplate principal
del Sitio AyllaSolucions */

/*Esta es la cabecera*/
.header
{
	width: 100%;
	height: 29%;
}

/*Estos son elementos dentro de la cabecera*/

/*Esto representa al primer rectangulo de cabecera,
el cual a su vez contiene un elementos mas, MenuNav*/
.headerMenu
{

  margin-top: 7%;
	width: 100%;
	height: 12%;
	float: left;
	background-color: white;
	border-bottom-style: solid;
	border-bottom-color: #a5a49f;
	border-bottom-width: 1px;
	padding-top: 2px;
	position:fixed !important;
	right:0px;
	top:0px;
	z-index:10 !important;
}

/*Espacio para la barra de menu de navegacion*/
.headerMenuNav
{
	width: 70%;
	height: 12%;
	float: left;
	/*display:inline-block;*/
  background-color: white;
}

.navbarlogslogan
{
  width: 80%;
}

.navbarlogomovil
{
  float: left;
  width:17%;
  margin-top: 1%;
  margin-left: 5%;
}

.navbarsloganmovil
{
  float: left;
  margin-left: 12%;
}
/* Fin primer rectangulo de cabecera*/

/*Esto representa el segundo rectangulo de cabecera,
el cual a su vez contiene tres elementos mas; Logo,
Slogan y Login*/
/*Estilo definido para Desktop*/
.headerHead
{
  margin-top: 3.7%;
  width: 100%;
  height: 17%;
  background-color: #f6f4f4;
  position:fixed !important;
  right:0px;
  top:0px;
  z-index:10 !important;
}

/*Estilo definido para Tablet*/
.headerHeadTablet
{
  margin-top: 8%;
  padding-top: 2.4%;
  width: 100%;
  height: 19%;
  background-color: #f6f4f4;
  position:fixed !important;
  right:0px;
  top:0px;
  z-index:10 !important;
  text-align: Center;
}

/*Estilo definido para Moviles*/
.headerHeadMovil
{
  margin-top: 8%;
  padding-top: 9%;
  width: 100%;
  height: 17%;
  background-color: #f6f4f4;
  position:fixed !important;
  right:0px;
  top:0px;
  z-index:10 !important;
  text-align: Center;
}


/*Espacio para el logo*/
/*Estilo definido para Desktop*/
.headerHeadLogo
{
  float:left;
  width: 14%;
  margin-top: 2%;
  margin-left: 1%;
}

/*Estilo definido para Tablet*/
.headerHeadLogoTablet
{
  float:left;
  width: 25%;
  margin-top: 2%;
  margin-left: 1%;
}


/*Espacio para el slogan*/
/*Estilo definido para Desktop*/
.headerHeadSlogan
{
  float:left;
  width: 65%;
  margin-top: 2%;
  font-style: oblique;
  font-family: webopp;
  font-size: xx-large;
}

/*Estilo definido para Tablet*/
.headerHeadSloganTablet
{
  float:left;
  width: 41%;
  margin-top: 2%;
  font-style: oblique;
  font-family: webopp;
  font-size: xx-large;
}

/*Espacio para el login*/
/*Estilo definido para Desktop*/
.headerHeadLogin
{
  float:left;
  width: 20%;
  margin-top: 2%;
  text-align: center;
  padding: 1%;
}

/*Estilo definido para Tablet*/
.headerHeadLoginTablet
{
  float:left;
  width: 33%;
  margin-top: 2%;
  text-align: center;
  padding: 1%;
}

/*Estilo definido para Movil*/
.headerHeadLoginMovil
{
  float:left;
  width: 100%;
  margin-top: 2%;
  text-align: center;
  padding: 1%;
}
/* Fin primer rectangulo de cabecera*/


/*Esto representa al tercer rectangulo de cabecera,
el cual contiene un elemento prediseñado carrusel, para
mostrar los banners del sitio*/

/*Alineamiento de carrusel*/
.center-block-100
{
	width: 100%;
	height: 40px;
	text-align: center;
}

.headerBanner
{
	margin-top:11%;
	width: 100%;
	float: left;
	clear: both;
	border-bottom-style: solid;
	border-bottom-color: #a5a49f;
	border-bottom-width: 1px;
}

.headerBannerTablet
{
	margin-top:28.5%;
	width: 100%;
	float: left;
	clear: both;
  /*z-index:10 !important;*/
}
/* Fin Tercer rectangulo de cabecera*/


/*Personalizacion bootstrap ayllasolutions*/
/*Componentes*/
/*Modificacion barra de navegacion*/
/***Navbar Background Color, Border Removed ,Border Radius Sqaure***/
.navbar.navbar-custom {
  background: white;
  border: none;
  border-radius: 0;
}
/***Link Color***/

.navbar.navbar-custom .navbar-nav > li > a {
  color: black;
}
/***Link Color Hover Statr***/

.navbar.navbar-custom .navbar-nav > li > a:hover {
  color: black;
}
/***Link Background and Color Active State***/

.navbar.navbar-custom .navbar-nav > .active,
.navbar.navbar-custom .navbar-nav > .active > a,
.navbar.navbar-custom .navbar-nav > .active > a:hover,
.navbar.navbar-custom .navbar-nav > .active > a:focus {
  background: #ca6128;
  color: white;
}

.active {
    background-color: #4CAF50;
}

/***Navbar Brand Link Color***/
.navbar.navbar-custom .navbar-brand {
  color: #333333;
}
/***Navbar Brand Link Color Hover State***/
.navbar.navbar-custom .navbar-brand:hover {
  color: #333333;
}

/***Dropdown Background Active State***/
.navbar.navbar-custom .nav li.dropdown.open > .dropdown-toggle,
.navbar.navbar-custom .nav li.dropdown.active > .dropdown-toggle,
.navbar.navbar-custom .nav li.dropdown.open.active > .dropdown-toggle {
  background: #DBF022;
  color: #f00;
}

/***Dropdown-menu Background Color***/
.navbar.navbar-custom .dropdown-menu {
  background: #ca6128;
  border: none;
}

/***Dropdown-menu Color***/
.navbar.navbar-custom .dropdown-menu > li > a {
  color: white;
}
/***Dropdown-menu Color Hover and Focus State***/

.navbar.navbar-custom .dropdown-menu > li > a:hover,
.navbar.navbar-custom .dropdown-menu > li > a:focus {
  color: white;
  background: #e99c73;
}
/***Toggle Button***/

.navbar.navbar-custom .navbar-header .navbar-toggle {
  background: #b0b0b0;
  border:none;
}
/***Toggle Button Hover and Focus State***/

.navbar.navbar-custom .navbar-header .navbar-toggle:hover,
.navbar.navbar-custom .navbar-header .navbar-toggle:focus {
  background: #ca6128;
  border:none;

}
/***Collapse Borders***/

.navbar.navbar-custom .navbar-collapse {
  border: none;
  color: white;
}

@media (max-width: 767px) {

 .navbar-inverse
 .navbar-nav .open .dropdown-menu>li>a {
    color: white;
  }

 .navbar-inverse
 .navbar-nav .open .dropdown-menu>li>a:hover
 {
   color: white;
   background: #e99c73;
 }

  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a {
    color: white;
  }
  /***Dropdown-menu Color Hover and Focus State***/
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a:hover,
  .navbar.navbar-custom li.dropdown .dropdown-menu > li > a:focus {
    color: white;
    background: #e99c73;
  }
}

.navbar-aylla
{
    height: 65px;
}

/*Personalizacion onapplying botones barra de navegacion bootstrap*/
.navbar-aylla>li>a
{
	color: black;
	font-size: medium;
	background-color: white;
	height: 65px;
	padding-top: 10px;
}

.navbar-aylla>li>a:hover
{
	color: white;
	font-size: medium;
	height: 65px;
	padding-top: 10px;
	border-bottom: solid;
	border-bottom-color: #a24e3f;
  background-color: #ca6128;
}

.navbar-brand {
 	padding-top: 12px;
}

/*Personalizacion ayllasolutions botones bootstrap*/
.btn-aylla
{
	background-color: #ca6128;
	color:#ffffff;
}

.btn-aylla-off
{
	background-color: silver;
	color:#ffffff;
}

.btn-aylla:disabled
{
 	background-color: silver;
	color:#ffffff;
}

.btn-aylla:hover
{
	background-color: #f79c6b;
}

.btn-aylla-buy
{
	display:inline-block;
	background-color: #ef0303;
	color:white;

	min-height: 30px;
	max-height: 60px;
	font-size: small;
	font-family: webopp;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	min-width: 80px;
	max-width: 200px;

}

.btn-aylla-buy:hover
{
	background-color: #fe4819;
 	cursor: pointer;
 	color:black;
}
/*Fin personalizacion bootstrap Aylla*/


/*Media queryes Body*/
/* Large desktop */
@media (min-width: 980px)
{
  .cuerpo     .lgdesktoph{ display: block; }
  .cuerpo     .dfdesktoph{ display: block; }
  .cuerpo     .tebleth{ display: none; }
  .cuerpo     .movilh{ display: none; }
}
/*Este es el cuerpo*/
.content
{
  margin-top: 40%;
	width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:auto;
}

.cuerpo
{
	width: 100%;
	height: 100%;
}


/*Media queryes Body*/
/* Large desktop */
@media (min-width: 980px)
{
  .articuloInicio     .lgdesktopai{ display: block; }
  .articuloInicio     .dfdesktopai{ display: block; }
  .articuloInicio     .tabletai{ display: none; }
  .articuloInicio     .movilai{ display: none; }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
{
  .articuloInicio     .lgdesktopai{ display: block; }
  .articuloInicio     .dfdesktopai{ display: block; }
  .articuloInicio     .tabletai{ display: none; }
  .articuloInicio     .movilai{ display: none; }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px)
{
  .articuloInicio     .lgdesktopai{ display: none;}
  .articuloInicio     .dfdesktopai{ display: none;}
  .articuloInicio     .tabletai{ display: block; }
  .articuloInicio     .movilai{ display: block; }
}

/* Landscape phones and down */
@media (max-width: 480px)
{
  .articuloInicio     .lgdesktopai{ display: none; }
  .articuloInicio     .dfdesktopai{ display: none; }
  .articuloInicio     .tabletai{ display: block; }
  .articuloInicio     .movilai{ display: block; }
}


/*Estilos del contenido de la pagina de inicio*/
.articuloInicio
{
  margin-left: 1%;
  margin-top:2%;
  width: 98%;
  padding: 3%;
  border: none;
  background-color:#e7e7e7;
}



.headArticuloInicio
{
  width: 100%;

}

.tituloHeadArticuloInicio
{
  width: 75%;
  padding-top: 2%;
  float: left;
  color: black;
  font-family: webopp;
  font-size: x-large;
  border-bottom: solid 0.5px #4478a0;
}

.tituloHeadArticuloInicioTM
{
  width: 100%;
  padding-top: 2%;
  float: left;
  color: black;
  font-family: webopp;
  font-size: x-large;
  text-align: center;
  border-bottom: solid 0.5px #4478a0;
}

.logoHeadAticuloInicio
{
  width: 24%;
  float: left;
  color: #86a932;
  padding-left: 5%;
}

.bodyArticuloInicio
{
    width: 100%;
}

.textoBodyArticuloInicio
{
    width: 98%;
    margin-top: 1%;
    font-family: webopp;
    font-size: medium;
    text-align: justify;
    text-indent: 4%;
    color: black;
}

.footerArticuloInicio
{
  width: 100%;
  text-align: center;
}

.articuloInicioFull
{
  margin-top: 1%;
  margin-left: 0.5%;
  width: 99%;
  height: 10%;
  padding: 1%;
  border: none;
  background-color:#e7e7e7;
}

.tituloHeadArticuloInicioFull
{
  width: 100%;
  float: left;
  color: black;
  font-family: webopp;
  font-size: x-large;
  border-bottom: solid 0.5px #4478a0;
  text-align: center;
}




.footer
{
  margin-top: 1%;
	padding: 2%;
	width: 100%;
	height: 30%;
	background-color: #393939;
	border-top-style: solid;
	border-top-color: #2f2f2f;
}




.nopadding {
   padding-left: 1px;  !important;
}

.sipaddingtop
{
  padding-top: 2%;
}

.sipaddingbottom
{
  padding-bottom: 2%;
}

.marginTopSociales
{
  margin-top: 5%;
}

.colTitulo
{
  font-size: small;
  font-family: webopp;
  color: white;
}

.colInfo
{
  font-size: small;
  font-family: webopp;
  font-weight: bold;
  color: #4f9bd2;
}

.colSociales
{
  color: #4f9bd2;
}

.colPie
{
  margin-top: 5%;
  color: #4f9bd2;
}

.colTituloSkills
{
  font-family: webopp;
  font-size: x-large;
  font-weight: bold;
  color: white;
}


.colTituloProdServ
{
  margin-top: 1%;
  padding: 1%;
  background-color: #385c25;
  color: white;
  text-align: center;
  font-family: webopp;
  font-size: xx-large;
}

.bgColorUno
{
  background-color: white;
}

.bgColorDos
{
  background-color: #f6f4f4;
}

.bgColorTres
{
  background-color: #e7e7e7;
}

.bgColorCuatro
{
  background-color: #385c25;
}

.bgColorCinco
{
  background-color: #86a932;
}

.bgColorSeis
{
  background-color: #e9d816;
}

.bgColorSiete
{
  background-color: #37424b;
}



.fcTituloUno
{
  font-size: xx-large;
  font-family: webopp;
  color:white;
}

.fcTituloDos
{
  font-size: x-large;
  font-family: webopp;
  color:white;
}

.fcTituloTres
{
  font-size: large;
  font-family: webopp;
  color:white;
}

.fcTituloUnoN
{
  font-size: xx-large;
  font-family: webopp;
  color:black;
}

.fcTituloDosN
{
  font-size: x-large;
  font-family: webopp;
  color:black;
}

.fcTituloTresN
{
  font-size: large;
  font-family: webopp;
  color:black;
}

.marginTopUno
{
  margin-top: 1%;
}

.paddingUno
{
  padding: 0.5%;
}

.separador
{
  height: 2%;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: #f6f4f4;
  border-bottom: solid 1px #dbdbdb;
}



.lineaDescProdServ
{
  margin: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  /*border-bottom: solid 0.5px #9ca59a;*/
  font-family: webopp;
  font-size: medium;
}



.lineaIcoProdServ
{
  margin: 2%;
  font-family: webopp;
  color: #ca6128;
}

.textoBodyArticuloProdServ
{
    width: 94%;
    font-family: webopp;
    font-size: medium;
    text-align: justify;
    text-indent: 4%;
    padding: 5%;
    border-right: solid 0.5px #9ca59a;

}

.textWhite
{
  color:white;
}

.textBlack
{
  color: black;
}


/*Maqueta paginas onapplying*/







/*Estilos chat*/
.footerChat
{
	position:fixed !important;
	right:1px;
	top:50%;
	z-index:10 !important;
	width: 25%;
	height: 47.8%;
	float: left;
	margin-top: 1%;
}



.footerChatNoneOpen
{
  margin-top: 75.9%;
  background-color:#98b550;
  border-radius: 3px;
  padding:1%;
  text-align: center;
  font-family: webopp;
  cursor: pointer;
}

.footerChatTextNone
{
  font-size: large;
  color:white;
  font-weight: bolder;
}


.footerChatHeader
{
  height: 15%;
  width: 100%;
  background-color: #98b550;
  border-radius: 3px 3px 0px 0px;
  padding: 1.8%;
  text-align:center;
  font-family: webopp;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.footerChatElementNone
{
  display: none;
}


.footerChatBody
{
  height: 69%;
  width: 100%;
  background-color: white;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 2%;
}

.footerChatFooter
{
  height: 15.7%;
  width: 100%;
  background-color: #98b550;
  padding:5px;
  border-radius: 0 0 3px 3px;
}

.footerChatMessageAdm
{
  border-radius:18px;
  background-color: #446d8b;
  color: white;
  font-family: webopp;
  font-size: small;
  font-weight: bold;
  padding: 2%;
  margin-top:2%;
  display:inline-block;
  max-width:95%;
  /*min-width:5%;
  height: auto;*/
  text-align: center;
  overflow-Y: auto;
  overflow-x: hidden;
}

.footerChatMessageHosp
{
  border-radius:18px;
  background-color: #cbe48c;
  color: black;
  font-family: webopp;
  font-size: small;
  font-weight: bold;
  padding: 2%;
  margin-top:2%;
  display:inline-block;
  max-width:95%;
  /*min-width:5%;
  height: auto;*/
  text-align: center;
  overflow-Y: auto;
  overflow-x: hidden;
}

.footerChatMessageHospAlert
{
  border-radius:18px;
  background-color: red;
  color: black;
  font-family: webopp;
  font-size: small;
  font-weight: bold;
  padding: 2%;
  margin-top:2%;
  display:inline-block;
  max-width:95%;
  /*min-width:5%;
  height: auto;*/
  text-align: center;
  overflow-Y: auto;
  overflow-x: hidden;
}
/*Fin estilos chat*/



/*Estilos chat Admin*/
.chatAdmin
{
  width: 100%;
  height: 300px;
  border: solid 1px;
  border-color:silver;
  background-color: white;
}

.chatUserPanel
{
  width: 30%;
  height: 100%;
  background-color: black;
  float: left;
}

.userConectedGral
{
  width: 80%;
  height: 15%;
  background-color: #ca6128;
  padding: 2%;
  margin-top: 2%;
  margin-left: 2%;
}

.userConectedGralAlert
{
  width: 80%;
  height: 15%;
  background-color: #98b550;
  padding: 2%;
  margin-top: 2%;
  margin-left: 2%;
}

.userConectedContact
{
  width: 80%;
  height: 15%;
  background-color: #426928;
  padding: 2%;
  margin-top: 2%;
  margin-left: 2%;
}

.userConectedIcon
{
  width: 20%;
  height: 100%;
  border-right: solid silver thin;
  text-align: center;
  float: left;
}

.userConectedId
{
  width: 75%;
  height: 100%;
  text-align: left;
  margin-left: 5%;
  color: white;
  font-size: small;
  font-weight: bold;
  float: left;
  padding-top: 2%;
}

.chatConvPanel
{
  width: 70%;
  height: 100%;
  background-color: orange;
  float: left;
}

.chatDisplayMsgPanel
{
  width: 100%;
  height: 80%;
  background-color: red;
}

.chatWriteMsgPanel
{
  width: 100%;
  height: 15%;
  background-color: blue;
}

.userConversacion
{
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
}

.userConversacionVisible
{
  width: 100%;
  height: 100%;
  background-color: white;
  display:block;
}



/*Fin Estilos chat Admin*/


/*Estilos geometricos*/

.circulo1
{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size:36px;
  vertical-align: middle;
  padding-top: 30px;
  border-radius: 50%;
  background: #ec986b;
}

.circulo2
{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size:36px;
  vertical-align: middle;
  padding-top: 30px;
  border-radius: 50%;
  background: #8CC657;
}

.circulo3
{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size:36px;
  vertical-align: middle;
  padding-top: 30px;
  border-radius: 50%;
  background: #f4eb7f;
}

.circulo4
{
  height: 100px;
  width: 100px;
  text-align: center;
  font-size:36px;
  vertical-align: middle;
  padding-top: 30px;
  border-radius: 50%;
  background: #c8ee6e;
}

.triangulo {
     width: 0;
     height: 0;
     border-left: 50px solid #f0ad4e;
     border-top: 50px solid transparent;
     border-bottom: 100px solid transparent;
}

.triangulo_inf {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid transparent;
    margin-left: 46%;
}

.triangulo_inf:hover {
    border-top: 15px solid silver;
}

.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid transparent;
    margin-left: 46%;
}

.triangulo_sup:hover {
    border-bottom: 15px solid silver;
}

.circulo {
	 margin-top: 4%;
     width: 80px;
     height: 80px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: #7fb439;
     text-align: center;
     padding-top: 20px;
     font-family:impact;
     color: white;
     font-size: xx-large;
     float: left;
}


.circuloPequenoFondoOliva{
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: #acbf7f;
     text-align: center;
     font-family:impact;
     color: white;
     font-size: xx-large;
 	 position:static;
}
/*Fin estilos geometricos*/

.mainContent
{
	width: 31%;
	height: 400px;
	text-align: left;
	float: left;
	margin-left: 2%;
	margin-bottom: 3px;

}
