<div class="cuerpo">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Soporte Informático
					</p>
					<p class="tituloHeadArticuloInicioTM movilai tabletai">
						Soporte Informático
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						<img style="max-width:60px;" src="/images/computer1.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Nuestro servicio de soporte informático, aborda todo tipo
						de problemáticas de hardware y software. El servicio es aplicado
					  en Hogares y Empresas y es posible realizarlo de forma
						presencial y/o remota. Brindamos soporte en modalidad de plan o a demanda.
					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="ModalCtrl">
					<button type="button" id="btnTarifa"
                class="btn btn-default btn-aylla"
                ng-click="open()">Tarifas <i class="fa fa-usd" aria-hidden="true"></i>
          </button>

					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
	  </div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Desarrollo de Software.
					</p>
					<p class="tituloHeadArticuloInicioTM tabletai movilai">
						Desarrollo de Software.
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						 <img style="max-width:60px;" src="/images/browser-5.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Con un experimentado equipo de profesionales, podemos abordar
					 	sus requerimientos y materializarlos en el software
					 	hecho a la medida que Ud. espera. Lo asesoramos y ponemos toda nuestra
					 	experiencia a su disposición. Vaya un paso adelante de su competencia!,
					 	aplique tecnologías!.

					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Computación en la nube.
					</p>
					<p class="tituloHeadArticuloInicioTM tebletai movilai">
						Computación en la nube.
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						<img style="max-width:65px;" src="/images/cloud-computing.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Mantenga su información segura y en línea las 24 Hrs. del día.
						Obtenga escalamiento horizontal sin necesidad de llevar a cabo
						complejos y costosos procesos de migración. Ahorre los costos de
						energía eléctrica, administración y climatización relativos a la
						mantención de un datacenter propio.
					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
	  </div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Diseño y Creación de Sitios Web.
					</p>
					<p class="tituloHeadArticuloInicioTM tebletai movilai">
						Diseño y Creación de Sitios Web.
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						 <img style="max-width:65px;" src="/images/computer2.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Diseño y creación de sitios web estáticos, dinámicos y auto-administrables.
						Nos ajustamos a sus requerimientos entregando la versatilidad necesaria
						para el desarrollo de una solución web, que satisfaga sus necesidades.
						Diseño minimalista, para crear excelentes vitrinas web para su negocio.
					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Respaldo de información.
					</p>
					<p class="tituloHeadArticuloInicioTM tebletai movilai">
						Respaldo de información.
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						<img style="max-width:65px;" src="/images/archive.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Automatice sus procesos de respaldo de información y utilice medios
						de almacenamiento seguro. Maneje su información respaldada en medios
						digitales de la nube. Acceda a su información desde cualquier lugar
						del mundo.
					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
	  </div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Software Administrativos.
					</p>
					<p class="tituloHeadArticuloInicioTM tebletai movilai">
						Software Administrativos.
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						 <img style="max-width:65px;" src="/images/online-shop-2.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Contamos con una gama de productos de software prediseñados
						los cuales son posibles de implementar, adaptando tus procesos
						de negocio a las formas con las que estos sistemas son capaces de operar.
					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
		</div>


		<div class="col-lg-6 col-md-6 col-sm-6">
			<div class="articuloInicio">
				<div class="headArticuloInicio">
					<p class="tituloHeadArticuloInicio lgdesktopai dfdesktopai">
						Testing DomoCasita.
					</p>
					<p class="tituloHeadArticuloInicioTM tebletai movilai">
						Testing DomoCasita.
					</p>
					<p class="logoHeadAticuloInicio lgdesktopai dfdesktopai">
						 <img style="max-width:65px;" src="/images/online-shop-2.png">
					</p>
				</div>
				<div class="bodyArticuloInicio">
					<p class="textoBodyArticuloInicio">
						Aca va un boton para enceder/apagar luminarias
					</p>
				</div>
				<div class="footerArticuloInicio" ng-controller="onoffCtrl">
					<button type="button" id="led"
								 class="btn btn-default btn-aylla"
								 ng-click="onoff()">
								 <i class="fas fa-power-off" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">+Info <i class="fa fa-info-circle" aria-hidden="true"></i>
					</button>

					<button type="button" id="btnContacto"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contacto <i class="fa fa-phone" aria-hidden="true"></i></i>
					</button>
				</div>
			</div>
		</div>
	</div>

 <!--<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="articuloInicioFull">
				<p class="tituloHeadArticuloInicioFull">
					Clientes que han depositado su confianza en nosotros:
				</p>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<img style="max-width:200px;" src="/images/Clientes/3Lightssinfondo.PNG">
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<img style="max-width:150px;" src="/images/Clientes/Pymentor.JPG">
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<img style="max-width:150px;" src="/images/Clientes/Vilco.PNG">
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">

					</div>
				</div>
			</div>
		</div>
	</div>-->

</div>
