<!--http://bootsnipp.com/snippets/featured/compact-login-form-bs-3-->
<p>{{saludo}}</p>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
             </div>
              <div class="panel-body">
                <form accept-charset="UTF-8" role="form">
                <fieldset>
                      <div class="form-group">
                        <input class="form-control" placeholder="E-mail" ng-model="user.email" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" ng-model="user.password"
                        type="password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                        </label>
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="button" ng-click="login(user)"
                    value="Login">
                </fieldset>
                  </form>
            </div>
        </div>
    </div>
</div>
