<div class="cuerpo">
	<div id="Conta" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 colTituloProdServ">
			Sistema de Contabilidad
		</div>
	</div>

	<div id="Pos" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 colTituloProdServ">
			Punto de Venta
		</div>
	</div>

	<div id="Rrhh" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 colTituloProdServ">
			Sistema de recursos humanos.
		</div>
	</div>

	<div id="Aacc" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 colTituloProdServ">
			Sistema de control de acceso.
		</div>
	</div>
</div>
