<div class="cuerpo">
	<div id="Soporte" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fcTituloUno bgColorCuatro marginTopUno paddingUno">
			Soporte Informático
		</div>

		<div id="pyme" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Soporte para Mipymes.
				</div>
			  <div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					Abordamos los problemas informáticos del dia dia de las
					micro, mequeñas y medianas empresas, brindando soporte
					asesoria y ayuda oportuna. Utilizamos herramientas de
					última generación para lograr una excelente calidad en
					nuestro servicio y a un costo muy conveniente. Entre
					nuestros servicios, destacamos:
			  </div>
				<div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-ambulance fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bgColorSiete textWhite lineaDescProdServ">
							Soporte on-site/remoto de aplicaciones.
						</div>
					</div>

					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-medkit fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bgColorSiete textWhite lineaDescProdServ">
							Soporte on-site/remoto de sistemas operativos.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-windows fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bgColorSiete textWhite lineaDescProdServ">
							Mantencion preventiva y/o correctiva de software.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-server fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bgColorSiete textWhite lineaDescProdServ">
							Mantencion preventiva y/o correctiva de hardware.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-file fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bgColorSiete textWhite lineaDescProdServ">
							Recuperacion de información.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-cloud fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 bgColorSiete textWhite lineaDescProdServ">
							Asesoria de Plataformas.
						</div>
					</div>
				</div>
		</div>

		<div id="hogar" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Soporte para Hogares.
				</div>
			  <div class="textoBodyArticuloProdServ bgColorSeis textBlack">
					Te ayudamos desde la instalación y configuración del
					sistema operativo, hasta la conexión de tus equipos a
					una red de area local. Manten tus dispositivos de escritorio
					y moviles, en perfectas condiciones, libres de virus, y
					siempre conectados a la red. Te entregamos un servicio
					de calidad y oportuno.
			  </div>
				<div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-ambulance fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Soporte on-site/remoto/lab, de aplicaciones.
						</div>
					</div>

					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-medkit fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Soporte on-site/remoto/lab, de sistemas operativos.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-windows fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Mantencion preventiva y/o correctiva de software.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-shield fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Limpieza de virus(Spyware, Malware, Ransomware)
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-file fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Respaldo y recuperación de información.
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
							<i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Soporte en conectividad y redes.
						</div>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 separador" >
			</div>
		</div>

		<div id="planes" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
			<div class=" text-center fcTituloDosN">
				Modalidad Plan.
			</div>

			<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
				Selecciona uno de nuestros planes de atención y recibe nuestro
				servicio según las condiciones y tarifas mensuales especificadas
			  en el plan seleccionado. Tambien puedes personalizar un plan de
				atención, para poder ajustar el servicio a tus necesidades.
			</div>

			<div class="footerArticuloInicio sipaddingtop sipaddingbottom" ng-controller="ModalCtrl">
				<button type="button" id="btnInfo"
							class="btn btn-default btn-aylla"
							ng-click="open()">Planes <i class="fa fa-usd" aria-hidden="true"></i></i>
				</button>

				<button type="button" id="btnContacto"
							class="btn btn-default btn-aylla"
							ng-click="open('lg', 'Contacto')">Personalizado <i class="fa fa-phone" aria-hidden="true"></i></i>
				</button>
			</div>

		</div>

		<div id="demanda" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
			<div class=" text-center fcTituloDosN">
				Modalidad On-Demand.
			</div>

			<div class="textoBodyArticuloProdServ bgColorSeis textBlack">
				Atendemos de manera oportuna tus necesidades del momento.
				Tenemos un equipo de profesionales, que atenderán tus consultas
				y resolverán tus problemas, lo más rápido posible, y entregándote
				un servicio de calidad y claro en cuanto a términos y tarifas.
			</div>

			<div class="footerArticuloInicio sipaddingtop sipaddingbottom" ng-controller="ModalCtrl">
				<button type="button" id="btnInfo"
							class="btn btn-default btn-aylla"
							ng-click="open()">Tarifas <i class="fa fa-usd" aria-hidden="true"></i></i>
				</button>
			</div>

		</div>

	</div>

	<div id="Desarrollo" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fcTituloUno bgColorCuatro marginTopUno paddingUno">
			Desarrollo de Software
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Obtenga lo justo.
				</div>
				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
						Obtenga la solución informática justa para su negocio.
						Acelere sus procesos productivos, automatizando la gestión
						manual, poniendo en marcha soluciones fabricadas a la medida.
				</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorTres">
				<div class=" text-center fcTituloDosN">
					Compita con ventaja.
				</div>
				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					Potencie su negocio y obtenga diferenciación y valor agregado,
					para un mercado cada día más competitivo, mediante la
					implementación de software hecho a la medida, y la asesoría
					 y experiencia de nuestro equipo.
				</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorTres">
				<div class=" text-center fcTituloDosN">
					Libre elección.
				</div>
				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					Creamos soluciones escalables, y con un alto nivel de abstracción
					en cada pieza fabricada, para que estas mismas, sean fáciles de
					entender y mantener por cualquier proveedor del mercado del software,
					entregándole así, la libertad de elección para futuros colaboradores
					de soporte y/o modificaciones del software.
				</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Versatilidad en el negocio y  técnica.
				</div>
				<div class="textoBodyArticuloProdServ bgColorSeis textBlack">
					Tenemos el Know-How (Conocimiento fundamental), para el desarrollo
					de software de distintas áreas o rubros económicos, tales como, el rubro
					financiero, automotriz, productivo y de la construcción.
					Así como también en distintas plataformas, como .Net, JavaScript
					(Node Server), Python y PHP.
				</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Servicio Integral
				</div>
				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					Te entregamos la ayuda necesaria, en las diferentes etapas
					de la construcción de tu solución. Desde el levantamiento
					, pasando por el, diseño, construcción y puesta en marcha.
				</div>
				<div class="footerArticuloInicio sipaddingtop sipaddingbottom" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contáctenos <i class="fa fa-phone" aria-hidden="true"></i>
					</button>
				</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorTres">
				<div class=" text-center fcTituloDosN">
					Tipos de Sistemas y Aplicativos:
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
						<i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
						Desarrollo para escritorios.
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
						<i class="fa fa-chrome fa-2x" aria-hidden="true"></i>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
						Desarrollo para la web.
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">
						<i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
						Desarrollo para moviles.
					</div>
				</div>
		</div>


	</div>

	<div id="Nube" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fcTituloUno bgColorCuatro marginTopUno paddingUno">
			Computación en la nube
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Del Data Center a la Nube!
				</div>
				<div class="textoBodyArticuloProdServ bgColorSeis textBlack">
					Te ayudamos en la toma de decisiones respecto de la migración de
					tu infraestructura, plataformas o softwares, desde el entorno local
					de tu organización, a los servicios alojados en la nube.
				</div>
				<div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Seguridad
						</div>
					</div>

					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							 Ahorro en activos de hardware
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							 Ahorro en climatización
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Ahorro energético de electricidad
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Administración remota
						</div>
					</div>

					<div class="footerArticuloInicio sipaddingtop sipaddingbottom" ng-controller="ModalCtrl">
						<button type="button" id="btnInfo"
									class="btn btn-default btn-aylla"
									ng-click="open()">Contáctenos <i class="fa fa-phone" aria-hidden="true"></i>
						</button>
					</div>

				</div>
		</div>


		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorTres">
				<div class=" text-center fcTituloDosN">
					Ahorre $
				</div>
				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					Ud. podrá acceder a múltiples ventajas, de ahorro como de gestión,
					una vez que tome la decisión de poner sus tecnologías locales,
					como servicios en la nube.
				</div>

				<div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Administración centralizada
						</div>
					</div>

					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Acceso desde cualquier parte del mundo
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							 Alta disponibilidad
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							 Monitoreo
						</div>
					</div>

					<div class="row ">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right lineaIcoProdServ">

						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  lineaDescProdServ bgColorSiete textWhite">
							Escalamiento horizontal
						</div>
					</div>
				</div>

		</div>
	</div>



	<div id="Web" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fcTituloUno bgColorCuatro marginTopUno paddingUno">
			Diseño y Creación de Sitios Web.
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorDos">
				<div class=" text-center fcTituloDosN">
					Del papel a la web!!!
				</div>
				<div class="textoBodyArticuloProdServ bgColorSeis textBlack">
					Plantéenos la forma en la que quiere mostrar su negocio, información
					personal, cultura, ideas, ayudas, etc… sobre la web para el mundo,
					y nosotros le ayudaremos a encontrar la mejor solución. Aportaremos
					de nuestra experiencia en diseño, programación y ux (experiencia de usuario),
					para que su sitio o página personal, sea de su máximo agrado y también del
					agrado de los usuarios que la visitaran.
				</div>

				<div class=" text-center fcTituloDosN">
					Diseño simple y ajustable.
				</div>

				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					Creamos sitios web con diseño minimalista, y responsivos para
					ajustarse a las resoluciones de plataformas de escritorio,
					tablet’s y dispositivos móviles.
				</div>

				<div class=" text-center fcTituloDosN">
					Auto-Administrables.
				</div>

				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					También trabajamos sobre plataformas CMS tales como Wordpress
					y Joomla, para así entregarle la característica de auto-administración,
					a su futuro sitio web.
				</div>

				<div class="footerArticuloInicio sipaddingtop sipaddingbottom" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contáctenos <i class="fa fa-phone" aria-hidden="true"></i>
					</button>
				</div>
		</div>
	  <div class="col-lg-6 col-md-6 hidden-xs hidden-sm bgColorCinco">
			<div class="lgdesktopai dfdesktopai tabletai" style="text-align:center; padding-top:20.7%; padding-bottom:20%;">
				<img style="min-width:100px; max-width:600px;" src="/images/Devices.png">
			</div>
		</div>
	</div>

	<div id="Respaldo" class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fcTituloUno bgColorCuatro marginTopUno paddingUno">
			Respaldo de Información.
		</div>
		<div class="col-lg-6 col-md-6 hidden-xs hidden-sm bgColorSeis">
			<div class="lgdesktopai dfdesktopai tabletai" style="text-align:center; padding-top:20.7%; padding-bottom:20%;">
				<img style="min-width:100px; max-width:165px;" src="/images/Musica.png">
				<img style="min-width:100px; max-width:165px;" src="/images/Video.png">
				<img style="min-width:100px; max-width:165px;" src="/images/Archivo.png">
				<img style="min-width:100px; max-width:165px;" src="/images/Foto.png">
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bgColorTres">
				<div class=" text-center fcTituloDosN">
					Respaldar?
				</div>
				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					La tarea de respaldar nuestra información personal o de nuestra
					empresa o negocio, hoy en día se toma muy a la ligera.
				</div>

				<div class=" text-center fcTituloDosN">
					Documentos, Fotografías y Videos.
				</div>

				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					En días en que la información digital crece de manera exponencial,
					solo se toma conciencia de la importancia de la tarea de respaldar
					dicha información digital, cuando se sufre algún siniestro, como el
					robo de sus dispositivos ( laptop’s, tablet’s o teléfonos móviles),
					o algún incendio o desastre natural, o bien un ataque informático
					mediante virus. A todas estas situaciones estamos expuestos, mucho
					más de lo que imaginamos.
				</div>

				<div class=" text-center fcTituloDosN">
					Respalda todos los días!
				</div>

				<div class="textoBodyArticuloProdServ bgColorCinco textWhite">
					El respaldar nuestra información, debiera ser una tarea periódica,
					programada, expedita y en lo posible automática, y debiera realizarse
					sobre medios seguros, ampliables, económicos y de fácil acceso. Nosotros
					le ayudamos, para que su tarea de respaldar la información, cumpla con
					todas las características mencionadas anteriormente.
				</div>

				<div class="footerArticuloInicio sipaddingtop sipaddingbottom" ng-controller="ModalCtrl">
					<button type="button" id="btnInfo"
								class="btn btn-default btn-aylla"
								ng-click="open()">Contáctenos <i class="fa fa-phone" aria-hidden="true"></i>
					</button>
				</div>
		</div>

	</div>
</div>
