
<div  id="formLogin" class="modal-body" ng-form name="formLogin" ng-app="app"  ng-controller="validateCtrl" name="myForm" novalidate>

    <!--Se define la cabecera del template de la ventana modal para el login -->
    <div class="modal-header">
    	 <h3 class="modal-title">Acceso Seguro a Clientes</h3>
    </div>
    <!--Se termina la cabecera del template de la ventana modal para el login -->

    <!--Se define el cuerpo del template de la ventana modal para el login -->
    <div  class="modal-body">

      <!--Se define el grupo de controles para el ingreso de usuario -->
      <div class="form-group has-feedback" show-errors="{ showSuccess: true }">

        <!--Se define la etiqueta para el nombre usuario -->
        <label for="lblUser">Correo eletronico</label>

        <!--Se define el input para el nombre de usuario -->
        <div class="form-group">
          <input type="email" class="form-control" name="user" ng-model="user" ng-required="true">
        </div>

        <!--Se definen iconos para ser activados y desactivados por Angular.js cuando el control se este validando -->
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="formLogin.user.$error.required || formLogin.user.$error.email"></span>
        <span class="glyphicon glyphicon-ok     form-control-feedback" aria-hidden="true" ng-if="formLogin.user.$valid"></span>

        <!--Se definen textos para ser avtivados y desactivados por Angular.js cuando el control se este validando -->
        <span class="help-block" ng-if="formLogin.user.$error.required">{{requiredUser}}</span>
        <span class="help-block" ng-if="formLogin.user.$error.email">{{invalidUser}}</span>
      </div>
      <!--Se termina el grupo de controles para el ingreso de usuario -->

      <!--Se define el grupo de controles para el ingreso de contraseña -->
      <div class="form-group has-feedback" show-errors="{ showSuccess: true }">

        <!--Se define la etiqueta para la contraseña -->
        <label for="lblPass">Contraseña</label>

        <!--Se define el input para el nombre de usuario -->
        <div class="form-group">
          <input type="password" class="form-control"
                                    id="pass"
                                  name="pass"
                                 class="form-control"
                           ng-mousedown="hideShowPassword()"
                              ng-model="pass"
                           ng-required="true"
                         ng-controller="loginCtrl" >
        </div>

        <!--Se definen iconos para ser activados y desactivados por Angular.js cuando el control se este validando -->
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="formLogin.pass.$error.required"></span>
        <span class="glyphicon glyphicon-ok     form-control-feedback" aria-hidden="true" ng-if="formLogin.pass.$valid"></span>
        <span class="glyphicon glyphicon-eye-open hide"></span>
        <!--Se definen textos para ser avtivados y desactivados por Angular.js cuando el control se este validando -->
        <span class="help-block" ng-if="formLogin.pass.$error.required">{{requiredPass}}</span>
        </span>
      </div>
      <!--Se termina el grupo de controles para el ingreso de usuario -->

    </div>
    <!--Se termina el cuerpo del template de la ventana modal para el login -->

    <!--Se define el pie del template del formulario login -->
    <div class="modal-footer">


      <!--Se crean los botones de logeo y de cancelacion del logeo -->
    	<button class="btn btn-default btn-onapplying" type="button" ng-click="ok()" ng-disabled="formLogin.user.$dirty && formLogin.user.$invalid ||
      formLogin.pass.$dirty && formLogin.pass.$invalid">Entrar <i class="fa fa-sign-in"></i></button>
    	<button class="btn btn-default btn-onapplying" type="button" ng-click="cancel()">Cancelar</button>

    </div>
    <!--Se termina la definicion del pie del template de formulario login-->

</div>
