
<div  id="formLogin" class="modal-body" ng-form name="formLogin" ng-app="app"  ng-controller="validateCtrl" name="myForm" novalidate>

    <!--Se define la cabecera del template de la ventana modal para el login -->
    <div class="modal-header">
    	 <h3 class="modal-title">Formulario de Contacto</h3>
    </div>
    <!--Se termina la cabecera del template de la ventana modal para el login -->

    <!--Se define el cuerpo del template de la ventana modal para el login -->
    <div  class="modal-body">
      <div class="form-group has-feedback" show-errors="{ showSuccess: true }">
        <label for="sel1">Solicitud</label>
        <select class="form-control" id="sel1">
          <option>Servicio</option>
          <option>Producto</option>
          <option>Consulta</option>
          <option>Reclamo</option>
        </select>
      </div>

      <div class="form-group has-feedback" show-errors="{ showSuccess: true }">
        <label for="sel1">Seleccione</label>
        <select class="form-control" id="sel1">
          <option>Soporte Hogar</option>
          <option>Soporte MiPyme</option>
          <option>Desarrollo de Software</option>
          <option>Computación en la nube</option>
          <option>Sitios Web</option>
          <option>Respaldo de Información</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Nombre</label>
        <div class="inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" >Apellido</label>
          <div class="inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->
             <div class="form-group">
        <label class="control-label">E-Mail</label>
          <div class="inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="control-label">Teléfono Fijo #</label>
          <div class="inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Teléfono Movil #</label>
          <div class="inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
        <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="control-label">Dirección</label>
          <div class="inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="address" placeholder="Address" class="form-control" type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="control-label">Región</label>
          <div class="inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="city" placeholder="city" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Select Basic -->

      <div class="form-group">
        <label class="control-label">Ciudad</label>
          <div class="selectContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="state" class="form-control selectpicker" >
            <option value=" " >Seleccione su ciudad</option>
            <option>Alabama</option>
            <option>Alaska</option>
            <option >Arizona</option>
            <option >Arkansas</option>
            <option >California</option>
            <option >Colorado</option>
            <option >Connecticut</option>
            <option >Delaware</option>
            <option >District of Columbia</option>
            <option> Florida</option>
            <option >Georgia</option>
            <option >Hawaii</option>
            <option >daho</option>
            <option >Illinois</option>
            <option >Indiana</option>
            <option >Iowa</option>
            <option> Kansas</option>
            <option >Kentucky</option>
            <option >Louisiana</option>
            <option>Maine</option>
            <option >Maryland</option>
            <option> Mass</option>
            <option >Michigan</option>
            <option >Minnesota</option>
            <option>Mississippi</option>
            <option>Missouri</option>
            <option>Montana</option>
            <option>Nebraska</option>
            <option>Nevada</option>
            <option>New Hampshire</option>
            <option>New Jersey</option>
            <option>New Mexico</option>
            <option>New York</option>
            <option>North Carolina</option>
            <option>North Dakota</option>
            <option>Ohio</option>
            <option>Oklahoma</option>
            <option>Oregon</option>
            <option>Pennsylvania</option>
            <option>Rhode Island</option>
            <option>South Carolina</option>
            <option>South Dakota</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option> Uttah</option>
            <option>Vermont</option>
            <option>Virginia</option>
            <option >Washington</option>
            <option >West Virginia</option>
            <option>Wisconsin</option>
            <option >Wyoming</option>
          </select>
        </div>
      </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="control-label">Codigo Postal</label>
          <div class="inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        <input name="zip" placeholder="Zip Code" class="form-control"  type="text">
          </div>
      </div>
      </div>


      <div class="form-group">
        <label for="comment">Ingrese su solicitud:</label>
        <label for="comment">En breve nos pondremos en contacto con ud!</label>
        <textarea class="form-control" rows="10" id="comment"></textarea>
      </div>
    </div>
    <!--Se termina el cuerpo del template de la ventana modal para el login -->

    <!--Se define el pie del template del formulario login -->
    <div class="modal-footer" ng-controller="enviaMailCtrl">
      <!--Se crean los botones de logeo y de cancelacion del logeo -->
    	<button class="btn btn-default btn-aylla" type="button" ng-click="enviaMailCtrl()" ng-disabled="formLogin.user.$dirty && formLogin.user.$invalid ||
      formLogin.pass.$dirty && formLogin.pass.$invalid">Enviar <i class="fa fa-paper-plane"></i></button>
    	<button class="btn btn-default btn-aylla" type="button" ng-click="cancel()">Cancelar <i class="fa fa-ban" aria-hidden="true"></i></button>

    </div>
    <!--Se termina la definicion del pie del template de formulario login-->

</div>
